@use "../abstracts/" as *;

.synonyms-input {
  margin-top: 2rem;

  .form {
    .input-container {
      @include flex;
      background-color: $white;
      border-radius: 0.5rem;
      height: 4rem;
      padding-inline: 2rem;
      width: 100%;
    }

    .input {
      background-color: transparent;
      border: none;
      width: 100%;

      &:focus-visible {
        outline: none;
      }
    }
  }
}
